.post {
  margin: auto;
  max-width: 675px;
}

.preview {
  margin-bottom: 3rem;
}

.preview img, .details {
  max-width: calc(100% - 2rem);
  margin: 1rem;
}

.preview img {
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.125);
}

.details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.title {
  flex: 2 1 50%;
}

.links {
  flex: 1 0 35%;
  text-align: right;
  margin-left: -2rem;
}

@media (max-width: 415px) {
  .title {
    flex: 1 0 100%;
  }
  .links {
    flex: 1 0 100%;
    text-align: left;
    margin-left: -1rem;
    margin-bottom: 1rem;
  }
}

.links a {
  margin-left: 1rem;
  text-decoration: none;
}

.gh {
  font-size: 2rem;
}

.description {
  flex: 2 1 100%;
}

.tech ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-right: -3rem;
}

.tech li {
  flex: 1 0 auto;
  margin-bottom: 0;
  margin-right: 2rem;
}
