/**
 * Reset styles
 */
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea,
p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: ""; }

abbr, acronym {
  border: 0; }

/**
 * Default Page Layout
 */
html, body, .page-wrap {
  height: 100%; }

header.page-header {
  position: fixed;
  top: -1px;
  width: 100%;
  z-index: 1; }

main {
  position: relative;
  top: 4.5rem; }
  @media (min-width: 600px) {
    main {
      top: 3rem; } }

/**
 * Offsetting the sections to scroll clear of the header
 */
section {
  position: relative;
  top: -4.5rem; }
  @media (min-width: 600px) {
    section {
      top: -3rem; } }

main .col-wrapper, main .row-wrapper, main .row, main .card-wrapper {
  position: relative;
  top: 4.5rem; }
  @media (min-width: 600px) {
    main .col-wrapper, main .row-wrapper, main .row, main .card-wrapper {
      top: 3rem; } }

.page-footer {
  position: relative;
  top: 4.5rem; }
  @media (min-width: 600px) {
    .page-footer {
      top: 3rem; } }

/**
 * Images & Icons
 */
svg {
  display: block;
  width: 100%;
  height: 100%; }

/**
 *
 */
/**
 * Fonts
 */
@font-face {
  font-family: "Agenda";
  src: url("../fonts/AgendaBold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: "Agenda";
  src: url("../fonts/AgendaLight.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: "Agenda";
  src: url("../fonts/AgendaMedium.ttf") format("truetype");
  font-weight: 500; }
html, button, input, textarea {
  font-family: "Agenda", Helvetica, sans-serif;
  font-size: 62.5%;
  color: #211e1d; }
  @media (min-width: 385px) {
    html, button, input, textarea {
      font-size: 75%;
      color: #211e1d; } }
  @media (min-width: 600px) {
    html, button, input, textarea {
      font-size: 87.5%; } }
  @media (min-width: 725px) {
    html, button, input, textarea {
      font-size: 100%; } }
  @media (min-width: 1200px) {
    html, button, input, textarea {
      font-size: 112.5%; } }
  @media (min-width: 1600px) {
    html, button, input, textarea {
      font-size: 125%; } }

h1 {
  font-size: 3.375rem;
  font-weight: bold;
  line-height: 4.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

h2 {
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 3rem;
  margin-bottom: 1.5rem; }

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
  line-height: 3rem; }

h4 {
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
  line-height: 1.5rem; }

h5 {
  font-size: 1.15rem;
  font-weight: bold;
  line-height: 1.5rem; }

h6 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem; }

p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 1.5rem; }

li {
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem; }

input {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem; }

label {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem; }

/**
 * 3-Column Grid Layout (for Homepage; excludes shopping items)
 */
section {
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px; }

.col-wrapper {
  max-width: 1200px;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row; }
  .col-wrapper .col-third {
    flex: 1; }
  .col-wrapper .col-two-third {
    flex: 2; }
  .col-wrapper .col-full {
    flex: 3; }
  .col-wrapper .col-half {
    flex: 1 1 50%; }

.bg-img-wide {
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

.bg-img-full {
  max-width: 1200px;
  background-size: 100%;
  background-repeat: no-repeat; }

.row-wrapper {
  max-width: 1200px;
  flex: 1;
  display: block;
  text-align: center; }

.half-row {
  display: inline-block;
  width: 50%; }

/**
 * Buttons and Anchor Links
 */
button {
  background-color: transparent; }

a {
  text-decoration: underline;
  color: #211e1d;
  cursor: pointer; }

.btn {
  display: inline-block;
  border: 2px solid #211e1d;
  border-radius: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 0 1.5rem 0 1.5rem;
  transition-property: background-color color;
  transition-duration: 0.5s;
  cursor: default;
  text-decoration: none; }
  .btn:hover {
    background-color: #211e1d;
    color: white;
    transition-property: background-color color;
    transition-duration: 0.5s; }
  .btn.white-btn {
    background-color: white; }
    .btn.white-btn:hover {
      background-color: #211e1d;
      color: white;
      transition-property: background-color color;
      transition-duration: 0.5s; }
  .btn.shadow-btn {
    border: none;
    box-shadow: 0 0 10px #294a62; }
  .btn.gray-btn:hover {
    color: #bcc2c8; }

.page-wrap > header {
  background: white;
  border-bottom: #211e1d solid 1px;
  display: none; }
  .page-wrap > header .shop-nav li:last-child {
    display: none; }
  @media (min-width: 600px) {
    .page-wrap > header {
      display: flex;
      justify-content: center;
      background-color: white; }
      .page-wrap > header .shop-nav li:last-child {
        display: list-item; } }
  .page-wrap > header * {
    background-color: transparent; }
  .page-wrap > header div.nav-wrapper {
    margin: 0 0;
    flex-direction: column; }
    @media (min-width: 600px) {
      .page-wrap > header div.nav-wrapper {
        flex-direction: row; } }
    .page-wrap > header div.nav-wrapper nav ul {
      display: flex;
      flex-direction: column;
      text-align: center; }
      @media (min-width: 600px) {
        .page-wrap > header div.nav-wrapper nav ul {
          flex-direction: row; } }
    .page-wrap > header div.nav-wrapper nav .home-nav {
      justify-content: space-between; }
    .page-wrap > header div.nav-wrapper nav .other-nav {
      justify-content: flex-start; }
    .page-wrap > header div.nav-wrapper nav .shop-nav {
      flex-direction: row;
      justify-content: center; }
      @media (min-width: 600px) {
        .page-wrap > header div.nav-wrapper nav .shop-nav {
          justify-content: flex-end; } }
    .page-wrap > header div.nav-wrapper nav li {
      font-size: 1.25rem;
      line-height: 1.5rem;
      letter-spacing: 0.25rem;
      white-space: nowrap;
      margin-top: 1.125rem;
      margin-bottom: 0.375rem;
      margin-left: 0.75rem;
      margin-right: 0.75rem; }
      .page-wrap > header div.nav-wrapper nav li a, .page-wrap > header div.nav-wrapper nav li #login-link {
        color: #211e1d;
        text-decoration: none; }
      .page-wrap > header div.nav-wrapper nav li:hover {
        cursor: pointer;
        color: black; }
      @media (min-width: 600px) {
        .page-wrap > header div.nav-wrapper nav li {
          font-size: 1rem; } }

.cart-icon {
  position: relative;
  height: 1.5rem;
  width: 1.5rem; }
  .cart-icon .cart-qty {
    position: absolute;
    top: -0.5rem;
    right: 0.75rem; }
    @media (min-width: 600px) {
      .cart-icon .cart-qty {
        top: -0.65rem;
        right: 0.25rem; } }
    .cart-icon .cart-qty h6 {
      text-align: center;
      margin: 0;
      line-height: 1rem;
      font-weight: 500; }

.mobile-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  border-bottom: #211e1d solid 1px;
  height: 4.5rem;
  width: 100%;
  background-color: white; }
  @media (min-width: 600px) {
    .mobile-nav {
      display: none; } }
  .mobile-nav.is-open {
    border-bottom: none;
    background-color: transparent; }
    .mobile-nav.is-open .mobile-logo {
      display: none; }
  .mobile-nav .nav-toggle {
    background: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 67%);
    height: 2.25rem;
    flex: 0 0 2.25rem;
    margin: 1.125rem;
    top: 0.75rem;
    right: 0.75rem; }
  .mobile-nav .mobile-logo {
    flex: 0 0 19.62579rem;
    height: 2.25rem;
    margin: 1.125rem; }
  .mobile-nav .cart-icon {
    flex: 0 0 2.25rem;
    height: 2.25rem;
    margin: 1.125rem; }

header.is-open {
  display: flex; }
  header.is-open .nav-open, header.is-open .nav-close {
    fill: #211e1d; }

.nav-toggle .svg-close {
  display: none; }
  .nav-toggle .svg-close.is-open {
    display: block; }
.nav-toggle .svg-menu {
  display: block; }
  .nav-toggle .svg-menu.is-open {
    display: none; }

/**
 * Basic card styles for shop items, market locations, etc
 */
.card-wrapper {
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.card {
  flex: 0 0 auto;
  margin: 0.75rem;
  text-align: center; }

.card-title {
  height: 3rem; }
  .card-title h3 {
    line-height: 1.5rem;
    margin: 0 0;
    font-weight: 500;
    text-transform: uppercase; }

/**
 * Modals
 */
.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  display: none; }
  .modal.is-opening {
    display: block;
    animation: modalAnim 300ms ease-in-out; }
  .modal.is-closing {
    display: block;
    animation: modalAnim 300ms ease-in-out;
    animation-direction: reverse; }
  .modal.is-open {
    display: block; }
  .modal .btn {
    margin-bottom: 1.5rem; }

@keyframes modalAnim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.modal-bg {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%; }

.modal-content {
  display: inline-block;
  text-align: center;
  width: 80%;
  max-width: 600px;
  background-color: white;
  border: 4px solid black;
  border-radius: 4px;
  position: relative;
  top: 8vh;
  bottom: 80px;
  box-shadow: 0 0 15vh 5vh white; }

.modal-header {
  margin: 0 0.75rem; }
  .modal-header h2 {
    font-weight: bold; }
  .modal-header p {
    text-align: left;
    text-indent: 2em; }
  @media (min-width: 385px) {
    .modal-header {
      top: 10vh; } }
  @media (min-width: 600px) {
    .modal-header {
      top: 15vh; } }
  @media (min-width: 950px) {
    .modal-header {
      top: 20vh; } }

.close-modal {
  position: absolute;
  fill: #211e1d;
  text-align: right;
  top: 0.75rem;
  right: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  transition-property: transform fill;
  transition-duration: 300ms; }
  .close-modal:hover {
    transform: scale(1.25);
    fill: black;
    transition-property: transform fill;
    transition-duration: 300ms; }

.modal-form {
  text-align: center;
  margin: 1.5rem 0;
  width: inherit;
  display: inline-block; }

/**
 * Footer Styles
 */
footer.page-footer {
  position: relative;
  top: 50;
  background-color: #bcc2c8;
  display: flex;
  justify-content: center;
  border-top: 1px solid #211e1d;
  padding-top: 3rem;
  padding-bottom: 1.5rem; }
  footer.page-footer p {
    font-weight: normal;
    letter-spacing: 0.1rem; }
  footer.page-footer .col-wrapper {
    max-width: 1200px;
    flex-flow: row wrap; }
    @media (min-width: 600px) {
      footer.page-footer .col-wrapper {
        flex-flow: row wrap; } }
  footer.page-footer .col-third {
    text-align: center;
    padding: 0 0.75rem; }
  footer.page-footer .row {
    text-align: center; }
  footer.page-footer .left-footer {
    order: 2;
    flex: 1 1 auto; }
    @media (min-width: 600px) {
      footer.page-footer .left-footer {
        flex: 1 1 35%; } }
  @media (min-width: 600px) and (min-width: 950px) {
    footer.page-footer .left-footer {
      order: 1; } }

  footer.page-footer .mid-footer {
    order: 1; }
    @media (min-width: 385px) {
      footer.page-footer .mid-footer {
        flex: 2 0 70%; } }
    @media (min-width: 950px) {
      footer.page-footer .mid-footer {
        flex: 1 1 auto;
        order: 2; } }
  footer.page-footer .right-footer {
    flex: 1 1 auto;
    order: 3; }
    @media (min-width: 600px) {
      footer.page-footer .right-footer {
        flex: 1 1 35%; } }
    @media (min-width: 950px) {
      footer.page-footer .right-footer {
        order: 3; } }

#contact-btn {
  margin-bottom: 1.5rem; }

.logo {
  display: inline-block; }
  .logo svg:hover {
    transform: scale(1.15);
    transition-duration: 200ms; }

.mid-footer .martins-logo {
  display: inline-block;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
  width: 60vw;
  height: 46.23706vw; }
  @media (min-width: 600px) {
    .mid-footer .martins-logo {
      width: 50vw;
      height: 38.53088vw; } }
  @media (min-width: 950px) {
    .mid-footer .martins-logo {
      width: 200px;
      height: 154.12353px; } }
  @media (min-width: 1200px) {
    .mid-footer .martins-logo {
      width: 250px;
      height: 192.65441px; } }
.mid-footer .social-media {
  display: inline-flex;
  justify-content: space-around;
  width: 50vw;
  margin-bottom: 1.5rem; }
  @media (min-width: 950px) {
    .mid-footer .social-media {
      display: flex;
      width: auto; } }
  .mid-footer .social-media a {
    flex: 0 0 auto;
    text-decoration: none; }
  .mid-footer .social-media .logo {
    width: 1.5rem;
    margin: 0 0.75rem; }
  .mid-footer .social-media .logo-container {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem; }
  .mid-footer .social-media .svg-instagram:hover {
    transform: scale(1.15);
    transition-duration: 200ms; }
  .mid-footer .social-media .svg-twitter:hover {
    transform: scale(1.15);
    transition-duration: 200ms; }
  .mid-footer .social-media .svg-facebook:hover {
    transform: scale(1.15);
    transition-duration: 200ms; }

.right-footer .mail-addr {
  margin: 0 0;
  flex-flow: row;
  justify-content: space-around; }
  .right-footer .mail-addr p {
    text-indent: 0;
    text-align: left;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: normal; }
    @media (min-width: 600px) {
      .right-footer .mail-addr p {
        font-size: 0.75rem; } }
  @media (min-width: 950px) {
    .right-footer .mail-addr {
      text-align: left;
      flex-flow: row wrap; } }
  .right-footer .mail-addr .card {
    margin: 0 0.375rem; }

#handmade {
  text-transform: uppercase;
  font-weight: bold; }

.site-credit {
  position: absolute;
  bottom: 0px;
  right: 5px; }
  .site-credit p {
    color: #67757f;
    font-size: 0.85rem;
    margin: 0 0;
    font-variant: small-caps; }
    .site-credit p a {
      cursor: pointer;
      color: #67757f;
      font-variant: normal; }

/**
 * Forms
 */
.text-inputs {
  justify-content: flex-start;
  margin-bottom: 1.5rem; }

.sm-input-group, .lg-input-group {
  margin-bottom: 1.5rem;
  text-align: left; }

.sm-input-group {
  flex: 1 1 auto; }

.lg-input-group {
  flex: 2 2 100%; }

.single-input-group {
  flex: 0 0 60%; }

input {
  background: none;
  border: none;
  border-bottom: 1px solid #211e1d;
  width: 100%; }
  input:focus, input:active {
    outline: none; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

.text-label {
  text-transform: uppercase;
  letter-spacing: 0.25em; }

textarea {
  resize: none;
  width: 100%;
  border: 1px solid #211e1d; }

/**
 * jQueryUI Form Elements
 */
.ui-selectmenu-button, .ui-selectmenu-button:focus, .ui-selectmenu-button.ui-button {
  background: white;
  width: 100%;
  padding: 0;
  border: 1px solid #211e1d; }
  .ui-selectmenu-button:hover, .ui-selectmenu-button:focus:hover, .ui-selectmenu-button.ui-button:hover {
    background: #211e1d;
    color: white; }

.ui-selectmenu-text {
  font-family: "Agenda";
  line-height: 1.5rem;
  margin-left: 0.75rem; }

.ui-menu-item {
  background: #bcc2c8;
  font-family: "Agenda"; }

.ui-checkboxradio-label, .ui-checkboxradio-label:hover, .ui-checkboxradio-checked {
  font-family: "Agenda";
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.75rem; }

.ui-checkboxradio-label {
  background: white;
  color: #211e1d;
  border: 1px solid #211e1d; }
  .ui-checkboxradio-label:hover {
    background: #211e1d;
    color: white; }

.ui-checkboxradio-icon, .ui-icon-check, .ui-icon {
  width: 1em;
  height: 1em; }

.ui-button .ui-icon {
  background-size: 16em; }

.ui-icon-check {
  background-position: -4em -9em; }

.ui-selectmenu-icon.ui-icon.svg-chevron-down {
  background: url("/martins/assets/img/icon-sprite.svg") no-repeat;
  background-position: 36.64996% 62.8052%;
  background-size: 372.85156%;
  width: 1.25em;
  height: 1.25em;
  border-radius: 0;
  top: 50%;
  transform: translateY(-50%); }

.ui-icon-caret-1-s {
  background-position: -8em 0em; }

.ui-icon-triangle-1-s {
  background-position: -4em -1em; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: #211e1d;
  color: white;
  border: 1px solid #211e1d; }

.ui-checkboxradio-label .ui-icon-background {
  box-shadow: 0 0 0 1px #211e1d;
  border-radius: 0.12em;
  border: none; }

.ui-visual-focus {
  box-shadow: 0 0 3px 1px #bcc2c8; }

.ui-checkboxradio-checked {
  background: #bcc2c8;
  color: #211e1d; }

/**
	*	Icon Sprites
	*/
.svg-cart, .svg-chevron-down, .svg-close, .svg-facebook, .svg-instagram, .svg-logo-black-transp, .svg-logo-black-white, .svg-menu, .svg-mobile-logo, .svg-pretzel-logo, .svg-twitter {
  background: url("/martins/assets/img/icon-sprite.svg") no-repeat; }

/**
	*	Icon Sprites
	* width: 2029
	* height: 1249
	* padding (between icons): 10px
	*/
.svg-menu {
  height: 100%;
  width: 100%;
  background-size: 477.25%; }

.svg-cart {
  background-position: 0 25.719665271966527%; }

.svg-cart-dims {
  width: 532px;
  height: 532px; }

.svg-cart {
  background-size: 396.2890625% 243.9453125%;
  height: 100%;
  width: 100%; }

.svg-chevron-down {
  background-position: 35.537742150968604% 99.91771269177127%; }

.svg-chevron-down-dims {
  width: 532px;
  height: 532px; }

.svg-chevron-down {
  background-size: 381.390977444%;
  width: 100%;
  height: 100%; }

.ui-selectmenu-icon.ui-icon.svg-chevron-down {
  background: url("/martins/assets/img/icon-sprite.svg") no-repeat;
  background-position: 35.537742150968604% 99.91771269177127%;
  background-size: 381.390977444%;
  width: 1.25em;
  height: 1.25em; }

.svg-close {
  background-position: 99.97078931013051% 0; }

.svg-close-dims {
  width: 420px;
  height: 420px; }

.svg-close {
  height: 100%;
  width: 100%;
  background-size: 477.25%; }

.svg-facebook {
  background-position: 71.07548430193721% 25.719665271966527%; }

.svg-facebook-dims {
  width: 532px;
  height: 532px; }

.svg-facebook {
  height: 100%;
  width: 100%;
  background-size: 381.390977444%; }

.svg-instagram {
  background-position: 0 99.91771269177127%; }

.svg-instagram-dims {
  width: 532px;
  height: 532px; }

.svg-instagram {
  height: 100%;
  width: 100%;
  background-size: 381.390977444%; }

.svg-logo-black-transp {
  background-position: 95.23564239194789% 69.09897769987538%; }

.svg-logo-black-transp-dims {
  width: 340px;
  height: 262.01px; }

.svg-logo-black-transp {
  background-size: 596.764705882% 476.69936262%;
  height: 100%;
  width: 100%; }

.svg-logo-black-white {
  background-position: 95.23564239194789% 42.5531914893617%; }

.svg-logo-black-white-dims {
  width: 340px;
  height: 262px; }

.svg-logo-black-white {
  background-size: 596.764705882% 476.69936262%;
  height: 100%;
  width: 100%; }

.svg-menu {
  background-position: 66.1280298321939% 86.41857659831122%; }

.svg-menu-dims {
  width: 420px;
  height: 420px; }

.svg-mobile-logo {
  background-position: 0 0; }

.svg-mobile-logo-dims {
  width: 1608.53px;
  height: 184.41px; }

.svg-mobile-logo {
  width: 100%;
  height: 100%;
  background-size: 126.140016039% 677.295157529%; }

.svg-pretzel-logo {
  background-position: 90.20873525057203% 88.6735738641167%; }

.svg-pretzel-logo-dims {
  width: 245.88px;
  height: 184.41px; }

.svg-twitter {
  background-position: 35.537742150968604% 25.719665271966527%; }

.svg-twitter-dims {
  width: 532px;
  height: 532px; }

.svg-twitter {
  height: 100%;
  width: 100%;
  background-size: 381.390977444%; }

/**
 * Home (About) Section
 */
#home {
  background-image: url("/martins/assets/img/market-385.jpg");
  height: 78rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0px 39rem; }
  @media (min-width: 385px) {
    #home {
      background-image: url("/martins/assets/img/market-725.jpg"); } }
  @media (min-width: 600px) {
    #home {
      height: 90rem; } }
  @media (min-width: 725px) {
    #home {
      background-image: url("/martins/assets/img/market-1400.jpg");
      height: 81rem;
      background-position: 0px 12rem; } }
  @media (min-width: 950px) {
    #home {
      height: 84rem;
      background-position: 0px 9rem; } }
  @media (min-width: 1400px) {
    #home {
      background-image: url("/martins/assets/img/market-2400.jpg");
      height: 84rem;
      background-position: 0px 3rem; } }
  @media (max-width: 725px) {
    #home .col-wrapper {
      flex-flow: column; } }
  #home .col-half {
    flex-basis: 100%;
    height: auto; }
    @media (min-width: 600px) {
      #home .col-half {
        margin: 1.5rem;
        flex-basis: 50%;
        height: auto; } }
    @media (min-width: 950px) {
      #home .col-half {
        margin-top: 0; } }
  #home .home-logo {
    display: inline-block;
    width: 80vw;
    height: 61.64941vw; }
    @media (min-width: 725px) {
      #home .home-logo {
        height: 18rem;
        width: 23.35789rem; } }
    @media (min-width: 950px) {
      #home .home-logo {
        height: 21rem;
        width: 27.25087rem; } }
    @media (min-width: 1200px) {
      #home .home-logo {
        height: 24rem;
        width: 31.14385rem; } }
  #home #order-link {
    margin: 1.5rem; }
    @media (min-width: 950px) {
      #home #order-link {
        margin: 3rem 0 0 0; } }
  #home .about-blurb {
    background: white;
    border: 4px solid black;
    border-radius: 4px;
    margin: 1.5rem;
    margin-top: 1.5rem;
    padding: 1.5rem; }
    #home .about-blurb h2 {
      font-weight: bold; }
    @media (min-width: 600px) {
      #home .about-blurb {
        margin: 0.75rem;
        margin-top: 0; } }
    @media (min-width: 725px) {
      #home .about-blurb {
        margin: 0;
        margin-top: 1.5rem; } }
    @media (min-width: 950px) {
      #home .about-blurb {
        margin-top: 3rem; } }

/**
 * Press
 */
#press {
  background-color: white;
  margin-bottom: 6rem; }
  @media (max-width: 600px) {
    #press .half-row {
      width: 80%; } }
  @media (max-width: 1200px) {
    #press .row-wrapper {
      max-width: 100%; } }
  #press .press-carousel {
    background-color: #67757f;
    margin: 1.5rem 0; }
    #press .press-carousel blockquote {
      padding: 4.5rem 1.5rem 3rem 1.5rem;
      color: white;
      text-shadow: 0 0 10px #131211; }
      @media (min-width: 385px) {
        #press .press-carousel blockquote {
          padding: 3rem 1.5rem 1.5rem 1.5rem; } }
  @media (min-width: 385px) and (min-width: 600px) {
    #press .press-carousel blockquote {
      padding: 1.5rem; } }

      #press .press-carousel blockquote h5 {
        white-space: normal;
        font-size: 1.5rem;
        margin-bottom: 1.5rem; }
      #press .press-carousel blockquote p {
        white-space: normal;
        font-weight: normal;
        margin: 0;
        text-align: right;
        font-style: italic; }

/**
 * Order Now
 */
#order-form {
  margin-bottom: 6rem; }
  #order-form #gift-tin .img-wrapper {
    border-radius: 50%;
    overflow: hidden; }
    #order-form #gift-tin .img-wrapper .item-img {
      position: relative;
      left: -4.125rem; }
  #order-form #special-orders .img-wrapper {
    border-radius: 50%;
    overflow: hidden; }
    #order-form #special-orders .img-wrapper .item-img {
      height: 120%;
      position: relative;
      right: 6.125rem;
      bottom: 2rem; }
  #order-form #flavored-pieces .img-wrapper {
    border-radius: 50%;
    overflow: hidden; }
    #order-form #flavored-pieces .img-wrapper .item-img {
      height: 110%;
      position: relative;
      right: 1.125rem; }
  #order-form .shop-item {
    flex-basis: 14.5rem; }
    @media (min-width: 600px) {
      #order-form .shop-item {
        margin: 1.5rem; } }
    @media (min-width: 950px) {
      #order-form .shop-item {
        flex-basis: 16rem; } }
    #order-form .shop-item h1 {
      color: white;
      line-height: 10.5rem; }
    #order-form .shop-item .img-wrapper {
      display: inline-block;
      height: 10.5rem;
      width: 10.5rem; }
      #order-form .shop-item .img-wrapper .item-img {
        display: inline-block;
        height: 100%; }
    #order-form .shop-item .options {
      display: flex;
      justify-content: center;
      flex-flow: row wrap; }
    #order-form .shop-item .qty {
      flex: 1 1 3rem;
      text-align: center;
      border-bottom: #211e1d solid 1px;
      border-right: #211e1d solid 1px; }
      #order-form .shop-item .qty input {
        width: 100%;
        border: none;
        text-align: center;
        font-weight: 500;
        font-size: 1.5rem;
        background-color: white;
        color: #211e1d; }
    #order-form .shop-item .price {
      flex: 3 3 12rem;
      text-align: center; }
    #order-form .shop-item .qty p, #order-form .shop-item .option p, #order-form .shop-item .price p {
      font-size: 1.5rem;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem; }
    @media (min-width: 385px) and (max-width: 950px) {
      #order-form .shop-item .add-to-cart {
        padding: 0 0.75rem 0 0.75rem; } }
    #order-form .shop-item .unit-values {
      display: none; }
    #order-form .shop-item .option {
      flex: 2 2 9rem;
      text-align: center;
      border-bottom: #211e1d solid 1px;
      border-radius: 0;
      text-align: center; }
      #order-form .shop-item .option span.ui-menu-item, #order-form .shop-item .option span.ui-selectmenu-text {
        margin-top: 0.75rem;
        text-align: center;
        font-weight: 500;
        font-size: 1.5rem;
        background-color: white;
        color: #211e1d; }
      #order-form .shop-item .option:hover {
        background-color: white;
        color: #211e1d; }

/** jQueryUI styles for Items' options menu */
.option.ui-selectmenu-button.ui-button {
  background-color: white;
  color: #211e1d;
  border: none;
  border-bottom: #211e1d solid 1px; }

.option.ui-selectmenu-button.ui-button:hover {
  background-color: white;
  color: #211e1d; }

#menu-section #test-menu {
  border: black solid 2px; }

#cart-modal .checkout-wrapper {
  margin-bottom: 1.5rem; }
  #cart-modal .checkout-wrapper td {
    vertical-align: middle; }
#cart-modal #removed-msg {
  display: none; }

#find-us {
  margin-bottom: 6rem; }

.white-box {
  padding: 3rem;
  background-color: white;
  border: 4px solid black;
  border-radius: 4px;
  box-shadow: 0 0 0 4px white; }

.white-box, .instagram-box {
  display: inline-block;
  margin: 0.75rem 1.5rem;
  min-height: 15rem;
  width: 50%; }
  @media (min-width: 600px) {
    .white-box, .instagram-box {
      width: auto; } }

.region {
  flex: 0 0 auto;
  text-align: center; }

.card.market {
  flex-basis: 14rem; }

#on-the-menu header {
  text-align: right; }

#abc-kitchen h2, #abc-kitchen p {
  text-align: left; }
#abc-kitchen .story-banner {
  background-image: url("../img/calamari.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 12rem; }

#wholesale .row-wrapper {
  height: 57rem;
  margin-bottom: 3rem;
  background-image: url("../img/retail-385.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain; }
  @media (min-width: 725px) {
    #wholesale .row-wrapper {
      background-image: url("../img/retail-725.jpg"); } }
  @media (min-width: 1200px) {
    #wholesale .row-wrapper {
      background-image: url("../img/retail-1200.jpg"); } }
#wholesale .wholesale-card {
  background-image: url("/martins/assets/img/blue-bg-490.png");
  background-size: 100%;
  background-position: center;
  padding: 1.5rem;
  margin-top: 4.5rem; }
  @media (min-width: 950px) {
    #wholesale .wholesale-card {
      background-image: url("/martins/assets/img/blue-bg-654.png"); } }
#wholesale h2 {
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px #294a62; }

#partners h3 {
  text-align: center; }
#partners .logo {
  background-color: #d8dcdf;
  width: 3rem;
  height: 3rem;
  margin: 3rem 3rem;
  border-radius: 50%; }
#partners .card-wrapper {
  margin-bottom: 3rem; }

/**
 * Cart & Invoice Styles
 */
.checkout-wrapper {
  margin-bottom: 7.5rem;
  padding: 0 0.75rem; }
  .checkout-wrapper .row {
    table-layout: fixed;
    margin-top: 4.5rem;
    text-align: center; }
  .checkout-wrapper table {
    display: inline-table; }
  .checkout-wrapper th, .checkout-wrapper td {
    padding: 0 1.5rem;
    border-left: 1px solid black;
    border-right: 1px solid black; }
    .checkout-wrapper th:first-child, .checkout-wrapper td:first-child {
      border-left: 0; }
    .checkout-wrapper th:last-child, .checkout-wrapper td:last-child {
      border-right: 0; }
  .checkout-wrapper th {
    font-weight: bold;
    border-bottom: 1px solid black;
    vertical-align: bottom; }
  .checkout-wrapper td {
    vertical-align: bottom; }
    .checkout-wrapper td:first-child {
      vertical-align: top; }
    .checkout-wrapper td span {
      text-indent: 5rem;
      font-size: 0.85rem;
      font-style: italic;
      line-height: 1.5rem; }
  .checkout-wrapper .totals td:first-child {
    text-align: right; }
  .checkout-wrapper .totals td {
    border-left: 0;
    border-right: 0; }
  .checkout-wrapper tbody tr:first-child td {
    padding-top: 1.5rem; }
  .checkout-wrapper .del-item {
    width: 0.75rem;
    height: 0.75rem;
    padding: 0.375rem;
    transition: 300ms;
    vertical-align: top;
    transition: 300ms; }
    .checkout-wrapper .del-item:hover {
      transform: scale(2); }
  .checkout-wrapper .table-item-name {
    width: 100%;
    text-align: left; }
  .checkout-wrapper .table-qty {
    text-align: center;
    border: none;
    font-size: 1.25rem;
    font-weight: normal; }
  .checkout-wrapper form {
    display: inline-block; }

#thank-you {
  display: none;
  margin-top: 1.5rem; }

.checkout-form {
  flex-flow: row wrap; }
  .checkout-form .col-third {
    flex: 1 1 100%;
    margin-bottom: 1.5rem; }
    @media (min-width: 600px) {
      .checkout-form .col-third {
        flex: 2 2 50%; } }
  .checkout-form header {
    text-align: left;
    margin: 0 0.75rem; }
  .checkout-form .card-wrapper {
    top: 0; }
  .checkout-form .sm-input-group {
    flex: 1 1 40%; }
  .checkout-form #shipping-method {
    width: 50%; }

.checkout-wrapper .card-title {
  margin-top: 3rem; }
.checkout-wrapper a {
  text-decoration: none; }
.checkout-wrapper span.error {
  color: red; }

#purchase-summary .row, #invoice .row {
  margin-bottom: 3rem; }

#invoice-info.card-wrapper {
  top: auto;
  justify-content: space-between; }
  #invoice-info.card-wrapper .card:first-child {
    text-align: left; }
  #invoice-info.card-wrapper .card:last-child {
    text-align: right; }

#addresses header {
  text-align: center; }
#addresses .invoice-address {
  flex: 0 0 50%; }
  @media (min-width: 600px) {
    #addresses .invoice-address {
      flex: 0 0 40%; } }
  #addresses .invoice-address ul, #addresses .invoice-address p {
    padding: 1.5rem;
    border: 2px solid #211e1d;
    border-radius: 0.375rem;
    text-align: left; }
    #addresses .invoice-address ul li, #addresses .invoice-address p li {
      font-weight: normal;
      font-size: 1.25rem;
      line-height: 1.5rem; }
#addresses .edit-info {
  border: none;
  position: relative;
  right: 0;
  left: 90%;
  cursor: pointer; }

#payment-info {
  text-align: center; }
  #payment-info a {
    text-decoration: none; }
  #payment-info .btn {
    margin-bottom: 6rem; }
  #payment-info .card-wrapper {
    display: inline-flex;
    justify-content: space-between;
    flex-flow: row wrap; }
    #payment-info .card-wrapper .card:nth-child(1) {
      flex: 2 2 10rem; }
    #payment-info .card-wrapper .card:nth-child(2) {
      flex: 4 4 20rem; }
    #payment-info .card-wrapper .card:nth-child(3) {
      flex: 1 1 8rem; }
      #payment-info .card-wrapper .card:nth-child(3) .ui-selectmenu-button, #payment-info .card-wrapper .card:nth-child(3) .ui-selectmenu-button:focus, #payment-info .card-wrapper .card:nth-child(3) .ui-selectmenu-button.ui-button {
        width: auto;
        float: left; }
    #payment-info .card-wrapper .card:nth-child(4) {
      flex: 1 1 5rem; }
