<section class="intro">

  <div class="intro-card">

    <div class="card-front">
      <img src="/assets/img/golden russet.jpg" />
      {% include golden-russet.html %}
    </div>

    <div class="card-back">
      <div class="blurb-container">
        <div class="avatar">
          <img src="/assets/img/avatar.png" />
        </div>
        <h2>Hello</h2>
        <p>For over a decade I've been helping farmers build a more open food system. Today, I'm working to give those farmers better access to data, software and other tools that they need to feed their communities in the 21st century.</p>
        <h2 class="email"><span>{</span> jamie@jgaehring.com <span>}</span></h2>
      </div>
    </div>

  </div>


</section>
