<section class="intro">

  <div class="intro-card">

    <div class="card-front">
      {% include golden-russet.html %}
    </div>

    <div class="card-back">
      <div class="blurb-container">
        <p>I'm an independent web developer and consultant based in New York City. For over a decade, I've been working with farmers and other small producers to build a more open food system. Say hello:</p>
        <p class="email"><span>{</span> gaehj457@gmail.com <span>}</span></p>
      </div>
    </div>

  </div>


</section>
