<section class="intro">

  <div class="intro-card">

    <div class="card-front">
      <img src="/assets/img/golden russet.jpg" />
      {% include golden-russet.html %}
    </div>

    <div class="card-back">
      <div class="blurb-container">
        <div class="avatar">
          <img src="/assets/img/avatar.png" />
        </div>
        <h2>Hello</h2>
        <p>I'm an independent web developer and consultant based in New York City. For over a decade, I've been working with farmers and other small producers to build a more open food system.</p>
        <p class="email"><span>{</span> gaehj457@gmail.com <span>}</span></p>
      </div>
    </div>

  </div>


</section>
