section.about, section.blog {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.about {
  height: 60vh;
  margin: 20vh 0;
}

.logo {
  grid-column: 2 / span 2;
  justify-self: center;
  align-self: end;
  text-align: center;
}
.portrait {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
  align-self: center;
}
.blurb {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
}

.contact {
  grid-column: span 6;
  text-align: center;
  margin: 0 0 20vh;
}
.blog, .projects {
  margin: 0 0 20vh;
}

.contact h3 {
}

header {
  grid-column: 1 / span 6;
  text-align: center;
}

.projects-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.project {
  flex: 0 1 45%;
}

@media (max-width: 675px) {
  .project {
    flex-basis: 100%;
  }
}

.project img {
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.125);
}
