.about, .blog {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.about-container {
  height: 60vh;
  margin: 20vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about {
  grid-template-rows: 1fr 1fr;
}

#more-link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: more-bounce;
  animation-timing-function: ease-out;
}
@keyframes more-bounce {
  0%   { transform: translateY(0); }
  20%  { transform: translateY(-.25rem); }
  40% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.logo {
  grid-column: 2 / span 2;
  justify-self: center;
  align-self: end;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.bullet-divider {
  text-align: center;
}
.portrait {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blurb {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact {
  grid-column: span 6;
  text-align: center;
}
.contact {
  margin: 0 0 20vh;
}

.svg-icon {
  width: 1em;
  height: 1em;
  fill: black;
}

.blog header, .center-text {
  grid-column: 1 / span 6;
  text-align: center;
}

@media (max-width: 820px) {
  .about-container {
    height: auto;
    margin: 5vh 0 20vh;
  }
  .about {
    grid-template-rows: auto;
  }
  .logo {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
  }
  .portrait {
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
  }
  .blurb {
    grid-column: 1 / span 6;
    grid-row: 3 / span 1;
  }
}
