// Welcome Page Styles

// Intro

.intro
  background-color: $bg-color
  width: auto
  height: 90vh
  z-index: 10000
  padding: 5vh

.intro-card
  position: absolute
  width: 90vw
  height: 52vw
  max-height: 480px
  max-width: 800px
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  background-color: $bg-color

.card-front
  position: relative
  max-width: 800px
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  background-color: $bg-color
  // display: none

  img
    position: absolute
    display: inline-block
    width: 100%

  svg
    position: static
    display: inline-block
    width: 100%
    height: 100%

.card-back
  position: absolute
  width: 90vw
  height: 54vw
  max-height: 480px
  max-width: 800px
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  background-color: $bg-color
  display: none
  text-align: center
  color: #777
  border: 2px solid $mta-yellow

  .blurb-container
    position: relative
    top: 50%
    transform: translateY(-50%)
    // left: 50%
    // // transform: translateX(-50%)
    // transform: translate(-50%, -50%)
    margin: 0 5%
    width: auto
    // margin: 5%
    // height: 90%
    text-align: justify
    text-indent: 1.5rem

    .avatar
      text-align: center
      margin: $baseline
      @media screen and (max-width: 359px)
        display: none

      img
        width: 12vw
        max-width: 100px
        // border-radius: 50%
        // box-shadow: 0px 5px 5px #777


    span
      color: $mta-yellow
      font-weight: 900

    .email
      text-align: center
      @media screen and (max-width: 460px)
        font-size: 12px

      @media screen and (min-width: 460px)
        font-size: 14px

      @media screen and (min-width: 675px)
        margin-top: 5%
        font-size: 22px

      a
        color: inherit
        &:link
          text-decoration: none
        &:hover
          text-decoration: none
          background-color: $mta-yellow
          color: black
