.header {
  margin: 1.45rem auto;
  text-align: center;
}

nav a, nav a:visited {
  text-decoration: none;
}

nav ul {
  margin: 0 20%;
  width: 60%;
  display: inline-flex;
  justify-content: space-around;
}

@media (max-width: 675px) {
  nav ul {
    margin: 0 15%;
    width: 70%;
  }
}
nav li {
  display: inline-flex;
  list-style-type: none;
}

.current {
  color: rgba(0,0,0,.85);
  border-bottom: solid 2px rgba(0,0,0,.85);
}

.header img {
  max-width: 225px;
  display: inline-block;
}

@media only screen and (max-width: 480px) {
  .header img {
    max-width: 175px;
  };
}
