.header {
  margin-bottom: 1.45rem;
}

.nav {
  margin: 0 auto;
  max-width: 960px;
  /* padding: 1.45rem 1.0875rem; */
}

.nav h1 {
  margin: 0;
}

.nav a, .nav a:visited {
  text-decoration: none;
}

.nav img {
  max-width: 125px;
  display: inline-block;
}